body {
	width: 100wh;
	height: 90vh;
	color: #fff;
	/*background: linear-gradient(-70deg, #FF6666, #CCFF66, #5D2E8C);*/
	
	background: repeating-linear-gradient(
	  45deg,
	  #CCFF66,
	  #CCFF66 200px,
	  #5D2E8C 200px,
	  #5D2E8C 400px,
	  #2EC4B6 400px,
	  #2EC4B6 600px
	  );
	
	background-size: 200% 200%;
	-webkit-animation: Gradient 200s ease infinite;
	-moz-animation: Gradient 200s ease infinite;
	animation: Gradient 200s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

H1 {
  font-family: "Baloo Bhaijaan", sans-serif;
  font-size: 3em;
  line-height: 1em;
  text-align: top;
  position: relative;
  color: #F1E8B8;
  right: -20px;
  text-shadow:-3px 3px #FF6666
}

#text {
  font-family: "Baloo Bhaijaan", sans-serif;
  font-size: 6em;
  line-height: 1em;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  letter-spacing: -6px;
}
#text:hover {
  cursor: default;
}
#text .wrapper {
  display: inline-block;
  top: -900px;
  position: relative;
  height: 150px;
  /* default */
  width: 90px;
  /* default */
  transition: ease 0.3s all;
}

#text .wrapper span {
  position: absolute;
  top: 0;
  right: 0;
 
}

#text .wrapper span.letter-2 {
  color: #F1E8B8;
  transition: all 3s ease;
  top: 3px;
  right: 3px;
}

#text .wrapper span.letter-1 {
  color: #FF6666;
  z-index: 1;
  transition: all 6s ease;
}

#text .wrapper span.letter-1:hover ~ .letter-2 {
  top: 6px;
  right: 6px;
  transition: all 0.1s ease;
}

#text .wrapper span.space {
  padding: 0;
  min-width: 30px;
  display: inline-block;
}




.line-1{
	font-family: 'Anonymous Pro', monospace;  
    position: relative;
    top: 50%;  
    width: 32em;
    margin: 0 auto;
    color: #FF6666;
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 32em;}
  /* nb letter * 0.54*/
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}